<html>
    <head>
        <title>Blog do Marcos</title>
    </head>
    <body>
        <div>
            <h1><a href="https://books.google.com.br/books/about/Uma_mulher_no_escuro.html?id=XgaSDwAAQBAJ&source=kp_book_description&redir_esc=y">A Mulher no Escuro</a></h1>
            <h2>Suspense. Reviravoltas. Ação.</h2>
            <p>Livro de Raphael Montes, autor brasileiro. O livro se passa no Rio de Janeiro e conta a história de uma orfã, Victoria, que presenciou o assassinato dos pais.</p>
            <p>O livro é tenso do começo ao fim, faz com que o leitor não tire os olhos dele, seja por medo ou por curiosidade sobre o que irá acontecer nos próximos capítulos.</p>
            <a href="https://books.google.com.br/books/about/Uma_mulher_no_escuro.html?id=XgaSDwAAQBAJ&source=kp_book_description&redir_esc=y">Clique aqui para comprar o livro</a>
        </div>
        <div>
            <h1><a href="https://pt.wikipedia.org/wiki/Laranja_Mec%C3%A2nica_(filme)">Laranja Mecânica</a></h1>
            <h2>Exótico. Berrante. Louco.</h2>
            <p>Um ensaio sobre a loucura. O quão longe pode ir as travessuras de um adolescente? Como reeducar? CHOQUE!</p>
            <a href="https://www.amazon.com.br/Laranja-mec%C3%A2nica-Anthony-Burgess/dp/8576570033">Clique aqui para comprar o livro</a>
        </div>
        
    </body>


</html>